*{
    margin: 0;
    padding: 0;
}

table{
    background-color: rgb(250, 228, 228);
}

table{
    border-collapse: collapse;
}

section{
    display: flex;
    justify-content: center;
}

tr:nth-child(even){
    background-color: grey;

}

/* .yellowcolor, .greycolor, .greencolor, .redcolor{
    width: 20px;
    height: 20px;
    display: inline-block;
} */

/* .yellow-color{
    background-color: rgb(255, 255, 0);
}

.grey-color{
    background-color: grey;
}

.green-color{
    background-color: green;
}

.red-color{
    background-color: red;
} */